
/*SET HTML FONT SIZE IF NECESSARY*/

html {
    font-size: 10px;
}

body {
    font-family: 'Stick No Bills', sans-serif;
    background-color: black;
    color: lightslategray;
    text-align: center;
    font-size: 3rem;
    /*padding: 25px, 25px, 25px, 25px;*/
    /*margin: 5px, 5px, 5px, 5px;*/
    /*padding/margin: top, right, bottom, left;*/
    /*display flex places my h1 and my form right next to each other, WHY?
        display: flex;*/
    /*justify-content: center;*/
    /*height: 100vh;*/
    /*font-weight: thin;*/
}

h1 {
    font-size: 7rem;
    line-height: 70px;
    margin: 0;
    /*padding-left: 1rem;
    padding-right: 1rem;*/
    /*padding: 10px, 25px, 25px, 25px;
    margin: 10px, 25px, 25px, 25px;*/
    /*border: 5px solid white;*/
}

h2 {
    font-size: 4rem;
    line-height: 40px; /*this made the border box tiny*/
    margin: 0;
    /*padding: 25px, 25px, 25px, 25px;
    margin: 25px, 25px, 25px, 25px;*/
    /*border: 5px solid white;*/
    /*padding-left: 1rem;
    padding-right: 1rem;*/
}


/*ALL ABOVE ON MAIN BRANCH


/*merged to css-input-margins branch*/
.meme-gen-container input {
    margin-top: 11px;
}

.meme-gen-container button {
    margin-top: 11px;
}

#btn-to-load {
    margin-top: 2px;
}

.display-new-meme {
    position: relative;
    text-align: center;
    color: white;
    margin-top: 10px;
}

.bottom {
    position: absolute;
    /*text-align: center;*/
    /*width: 88%;*/
    left: 50%;
    bottom: -12%;
    transform: translate(-50%, -50%);
    /*box-sizing: border-box;*/
    color: white;
}

.top {
    position: absolute;
    top: 0%;
    left: 50%;
    /*THIS IS WHAT IS MAKING THEM CENTER:*/
    transform: translate(-50%, -50%);
    text-align: center;
}

.delete-button {
    position: absolute;
    top: -3%;
    transform: translate(-50%, -50%);
}

