
/*SET HTML FONT SIZE IF NECESSARY*/

html {
    font-size: 10px;
}

body {
    font-family: 'Stick No Bills', sans-serif;
    background-color: black;
    color: lightslategray;
    text-align: center;
    font-size: 3rem;
    /*padding: 25px, 25px, 25px, 25px;*/
    /*margin: 5px, 5px, 5px, 5px;*/
    /*padding/margin: top, right, bottom, left;*/
    /*display flex places my h1 and my form right next to each other, WHY?
        display: flex;*/
    /*justify-content: center;*/
    /*height: 100vh;*/
    /*font-weight: thin;*/
}

h1 {
    font-size: 7rem;
    line-height: 70px;
    margin: 0;
    /*padding-left: 1rem;
    padding-right: 1rem;*/
    /*padding: 10px, 25px, 25px, 25px;
    margin: 10px, 25px, 25px, 25px;*/
    /*border: 5px solid white;*/
}